
.wishlist-container {
  margin: 6rem auto;
}

.wishlist-head {
  text-align: center;
}

.empty-wishlist {
  text-align: center;
  color: #aaa;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.wishlist-prod-list {
  padding: 2rem;
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-evenly;
  list-style: none;
}